import os
basedir = os.path.abspath(os.path.dirname(__file__))

SQLALCHEMY_DATABASE_URI='sqlite:///' +  os.path.join(basedir, '../app.db')
SECRET_KEY='Сюда вводим рандомную строку'

DROPBOX_APP_KEY = ''
DROPBOX_APP_SECRET = ''

